.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  a {
    background: #e5e9f0;
    color: #333333;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: #d8dee9;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
body.dark-mode {
  .post {
    a {
      background: #3b4252;
      color: #eceff4;
    }
    p {
      color: #d8dee9;
    }
  }
}
