@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.shiver-text {
  width: 250px;
  height: 250px;
  @include respond-to(phone-small) {
    width: 175px;
    height: 150px;
  }
  @include respond-to(phone-medium) {
    width: 175px;
    height: 150px;
  }
  @include respond-to(phone-large) {
    width: 175px;
    height: 150px;
  }
}

.animated-title {
  color: #333333;
  padding-top: 32px;
  @include respond-to(phone-small) {
    padding-top: 4px;
  }
  @include respond-to(phone-medium) {
    padding-top: 4px;
  }
  @include respond-to(phone-large) {
    padding-top: 4px;
  }
}
body.dark-mode {
  .animated-title {
    color: #eceff4;
  }
}

.animated-title > div {
  overflow: hidden;
}

.animated-title > div div {
  font-size: 32px;
  padding: 16px 0;
  @include respond-to(phone-small) {
    font-size: 24px;
    padding: 8px 0;
  }
  @include respond-to(phone-medium) {
    font-size: 24px;
    padding: 8px 0;
  }
  @include respond-to(phone-large) {
    font-size: 24px;
    padding: 8px 0;
  }
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 0.4vmin solid #333333;
}
body.dark-mode {
  .animated-title > div.text-top {
    border-bottom: 0.4vmin solid #eceff4;
  }
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #5e81ac;
  padding: 8px 0;
  @include respond-to(phone-small) {
    padding: 4px 0;
  }
  @include respond-to(phone-medium) {
    padding: 4px 0;
  }
  @include respond-to(phone-large) {
    padding: 4px 0;
  }
}
body.dark-mode {
  .animated-title > div.text-top div span:first-child {
    color: #ebcb8b;
  }
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  transform: translate(0, -100%);
}
