/* Responsive layouts */
$phone-small: 360px;
$phone-medium: 375px;
$phone-large: 414px;

@mixin respond-to($media) {
  @if $media == phone-small {
    @media only screen and (max-width: $phone-small) {
      @content;
    }
  } @else if $media == phone-medium {
    @media only screen and (min-width: $phone-small + 1) and (max-width: $phone-medium) {
      @content;
    }
  } @else if $media == phone-large {
    @media only screen and (min-width: $phone-medium + 1) and (max-width: $phone-large) {
      @content;
    }
  }
}

/*Colors*/
/* Snow Storm */
$snow-01: #eceff4;
$snow-02: #e5e9f0;
$snow-03: #d8dee9;
$snow-04: #C8CCD2;

/* Polar Night */
$polar-night-01: #2e3440;
$polar-night-02: #3b4252;
$polar-night-03: #434c5e;
$polar-night-04: #4c566a;

/* Frost */
$frost-01: #8fbcbb;
$frost-02: #88c0d0;
$frost-03: #81a1c1;
$frost-04: #5e81ac;

/* Aurora */
$aurora-01: #bf616a;
$aurora-02: #d08770;
$aurora-03: #ebcb8b;
$aurora-04: #a3be8c;
$aurora-05: #b48ead;

/* Standart index css */
@import "./index.scss";

/* Atoms styles */
@import "../components/atoms/darkModeToggle/styles.scss";
@import "../components/atoms/shiverIcebergAnimation/styles.scss";
@import "../components/atoms/shiverTextAnimation/styles.scss";

/* Organisms styles */
@import "../components/organisms/header/styles.scss";

/* Templates styles */
@import "../components/templates/layout/styles.scss";
@import "../components/templates/blog/styles.scss";

/* Pages styles */
@import "../pages/blog/styles.scss";
@import "../pages/404/styles.scss";
@import "../pages/shiver/styles.scss";

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700");

html {
  font: 112.5%/1.45em "Rubik", sans-serif;
}

body.dark-mode {
  background-color: $polar-night-01;
  color: $snow-03;
  transition: background-color 0.7s ease;
}

body.light-mode {
  background-color: $snow-01;
  color: $polar-night-01;
  transition: background-color 0.7s ease;
}

footer {
  margin-top: 3rem;
}

.shiver-button-medium-primary-frost {
  padding: 4px 16px;
  font-size: 16px;
  background-color: $frost-02;
  color: $polar-night-01;
  border: none;
  border-radius: 4px;
}
.shiver-button-medium-primary-frost:hover {
  background-color: rgba($frost-02, 0.8);
  transition: color 200ms ease-in 0s;
}

.shiver-button-medium-primary-light {
  padding: 3px 15px;
  font-size: 16px;
  background-color: $snow-01;
  color: $polar-night-01;
  border-color: $polar-night-04;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body.dark-mode {
  .shiver-button-medium-primary-light {
    background-color: $polar-night-01;
    color: $snow-01;
  }
}
.shiver-button-medium-primary-light:hover {
  color: $frost-04;
  border-color: $frost-04;
  transition: color 200ms ease-in 0s, border-color 200ms ease-in 0s;
}
body.dark-mode {
  .shiver-button-medium-primary-light:hover {
    color: $frost-04;
  }
}

.shiver-button-secondary-light {
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 4px;
  color: $polar-night-04;
}
body.dark-mode {
  .shiver-button-secondary-light {
    color: $snow-03;
  }
}

.shiver-button-secondary-light:hover {
  background-color: $snow-03;
  color: $polar-night-01;
  transition: background-color 200ms ease-in 0s;
}
body.dark-mode {
  .shiver-button-secondary-light:hover {
    background-color: $polar-night-04;
    color: $snow-01;
  }
}

.active-shiver-button-secondary-light {
  background-color: $snow-03;
  color: $polar-night-01;
}
body.dark-mode {
  .active-shiver-button-secondary-light {
    background-color: $polar-night-04;
    color: $snow-01;
  }
}
