/* Standart index css */
@import "./index.scss";
/* Atoms styles */
@import "../components/atoms/darkModeToggle/styles.scss";
@import "../components/atoms/shiverAnimation/styles.scss";
@import "../components/atoms/shiverText/styles.scss";
/* Organisms styles */
@import "../components/organisms/header/styles.scss";
/* Templates styles */
@import "../components/templates/layout/styles.scss";
@import "../components/templates/blog/styles.scss";
/* Pages styles */
@import "../pages/blog.scss";
@import "../pages/404.scss";
@import "../pages/shiver.scss";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.dark-mode {
  background-color: #2e3440;
  color: #dfdfdf;
  transition: background-color 0.7s ease;
}

body.light-mode {
  background-color: #eceff4;
  color: #333;
  transition: background-color 0.7s ease;
}

footer {
  margin-top: 3rem;
}
