/* Standart index css */
@import "./index.scss";

@import "../components/organisms/header/styles.scss";

@import "../components/atoms/darkModeToggle/styles.scss";

@import "./blog.scss";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
  transition: background-color 0.7s ease;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.7s ease;
}

footer {
  margin-top: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}


/*
  .title.dark-mode {
    color: yellow;
    font-size: 3rem;
    text-decoration: none;
  }

  .title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  .nav-item {
    color: #99999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
  }

  .nav-item:hover {
    color: #666666;
  }

  .active-nav-item {
    color: #333333;
  }
}
*/
