:root {
  --mainColorLightMode: #5e81ac;
  --mainColorDarkMode: #ebcb8b;
}

.header {
  padding: 1rem 0 2rem;
  @include respond-to(phone-small) {
    padding: 1rem 0 1rem;
  }
  @include respond-to(phone-medium) {
    padding: 1rem 0 2rem;
  }
  @include respond-to(phone-large) {
    padding: 1rem 0 2rem;
  }
}

.title {
  color: #5e81ac;
  font-size: 3rem;
  text-decoration: none;
  @include respond-to(phone-small) {
    font-size: 32px;
  }
  @include respond-to(phone-medium) {
    font-size: 32px;
  }
  @include respond-to(phone-large) {
    font-size: 32px;
  }
}
body.dark-mode {
  .title {
    color: #ebcb8b;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin-right: 16px;
}

.nav-item-shiver {
  background: linear-gradient(
    to bottom,
    var(--mainColorLightMode) 0%,
    var(--mainColorLightMode) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #999999;
  text-decoration: none;
  transition: background-size 0.4s;
  margin-right: 1.3rem;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 4px;
}
body.dark-mode {
  .nav-item-shiver {
    background: linear-gradient(
      to bottom,
      var(--mainColorDarkMode) 0%,
      var(--mainColorDarkMode) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    text-decoration: none;
    transition: background-size 0.4s;
  }
}

.nav-item-shiver:hover {
  color: #e5e9f0;
  background-size: 4px 50px;
}
body.dark-mode {
  .nav-item-shiver:hover {
    color: #333333;
    background-size: 4px 50px;
  }
}

.active-nav-item-shiver {
  background-color: var(--mainColorLightMode);
  color: #e5e9f0;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 4px;
}
body.dark-mode {
  .active-nav-item-shiver {
    background-color: var(--mainColorDarkMode);
    color: #333333;
  }
}
