.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #5E81AC;
  font-size: 3rem;
  text-decoration: none;
}
body.dark-mode {
  .title{
  color: #EBCB8B;
  font-size: 3rem;
  text-decoration: none;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}
body.dark-mode {
    .nav-item:hover{
    color: #E5E9F0;
  }
}


.active-nav-item {
  color: #333333;
}
body.dark-mode {
  .active-nav-item{
  color: #ECEFF4;
}
}




