:root {
  --mainColorLightMode: #5E81AC;
  --mainColorDarkMode: #EBCB8B;
}

.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #5E81AC;
  font-size: 3rem;
  text-decoration: none;
}
body.dark-mode {
  .title{
  color: #EBCB8B;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 1rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}
body.dark-mode {
    .nav-item:hover{
    color: #E5E9F0;
  }
}

.active-nav-item {
  color: #333333;
}
body.dark-mode {
  .active-nav-item{
  color: #ECEFF4;
  }
}

.nav-item-shiver {
  background:
     linear-gradient(
       to bottom, var(--mainColorLightMode) 0%,
       var(--mainColorLightMode) 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
  color: #999999;
  text-decoration: none;
  transition: background-size .4s;
  margin-right: 1.3rem;
}
body.dark-mode {
  .nav-item-shiver {
    background:
     linear-gradient(
       to bottom, var(--mainColorDarkMode) 0%,
       var(--mainColorDarkMode) 100%
     );
     background-position: 0 100%;
	  background-repeat: repeat-x;
    background-size: 2px 2px;
    text-decoration: none;
    transition: background-size .4s;
  }
}

.nav-item-shiver:hover {
  color: #E5E9F0;
  background-size: 4px 50px;
}
body.dark-mode {
  .nav-item-shiver:hover {
    color: #333333;
    background-size: 4px 50px;
  }
}

.active-nav-item-shiver {
  background-color: var(--mainColorLightMode);
  color: #E5E9F0;
}
body.dark-mode {
  .active-nav-item-shiver{
    background-color: var(--mainColorDarkMode);
    color: #333333;
  }
}

