.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  a {
    background: #E5E9F0;
    color: #333333;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: #D8DEE9;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
body.dark-mode {
  .post{
    a {
      background: #3B4252;
      color: #ECEFF4
    }
    p {
      color: #D8DEE9
    }
  }
}
