@import "../../../styles/global.scss";

//index.modules.css
.button {
  position: relative;
  //font-size: 16px;
  //font-weight: 600;
  text-align: center;
  padding: 2px 14px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //height: 32px;
  //min-width: 96px;
  border-radius: 4px;
  background-color: #fff;
  border-width: 1px solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.medium {
  font-size: 18px;
}

.large {
  font-size: 20px;
}

.default {
  background-color: $snow-02;
  border-color: $snow-02;
  color: $polar-night-04;
}
.default:hover {
  background-color: $snow-03;
  color: $polar-night-04;
}

.primary {
  background-color: $frost-02;
  border-color: $frost-02;
  color: $polar-night-01;
}
.primary:hover {
  background-color: $frost-02-shadow;
  border-color: $frost-02-shadow;
  color: $polar-night-01;
}

.success {
  background-color: $aurora-04;
  border-color: $aurora-04;
  color: $polar-night-01;
}
.success:hover {
  background-color: $aurora-04-shadow;
  border-color: $aurora-04-shadow;
  color: $polar-night-01;
}

.warning {
  background-color: $aurora-03;
  border-color: $aurora-03;
  color: $polar-night-01;
}
.warning:hover {
  background-color: $aurora-03-shadow;
  border-color: $aurora-03-shadow;
  color: $polar-night-01;
}

.danger {
  background-color: $aurora-01;
  border-color: $aurora-01;
  color: $polar-night-01;
}
.danger:hover {
  background-color: $aurora-01-shadow;
  border-color: $aurora-01-shadow;
  color: $polar-night-01;
}

.disabled {
  background-color: $snow-03;
  border-color: $snow-03;
  color: $snow-03-shadow;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
  border: 1px solid;
}
.disabled:hover {
  background-color: $snow-03;
  color: $snow-03-shadow;
  border-color: $snow-03-shadow;
}

.default—outline {
  background-color: $snow-01;
  border-color: $polar-night-01;
  color: $polar-night-04;
  border: 1px solid;
}
.default—outline:hover {
  color: $frost-04;
  border-color: $frost-04;
}

.primary—outline {
  background-color: $snow-01;
  border-color: $frost-02;
  color: $frost-02;
  border: 1px solid;
}
.primary—outline:hover {
  background-color: rgba($frost-02, 0.2);
  opacity: 0.8;
  color: $frost-02-shadow;
  border-color: $frost-02-shadow;
}
