.shiver-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shiver-container-title {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  @include respond-to(phone-small) {
    text-align: center;
    padding-top: 16px;
  }
  @include respond-to(phone-medium) {
    text-align: center;
    padding-top: 16px;
  }
  @include respond-to(phone-large) {
    text-align: center;
    padding-top: 16px;
  }
}

.shiver-container-text {
  display: flex;
  padding-top: 8px;
  padding-bottom: 16px;
  width: 400px;
  text-align: center;
}

.shiver-container-button {
  padding-left: 24px;
  padding-right: 24px;
  @include respond-to(phone-small) {
    margin-bottom: 16px;
  }
  @include respond-to(phone-medium) {
    margin-bottom: 16px;
  }
}

@media (max-width: 360px) {
  .shiver-container {
    justify-content: space-evenly;
  }
}
